.secondaryText {
  font-family: 'Raleway', serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  font-variant-numeric: lining-nums proportional-nums;


  color: $c-main-black;

  @include onDesctop {
    font-size: 14px;
  }
}
