.shoppingCart {
  @include grid;
  row-gap: 44px;

  &__title {
    grid-column: span 4;

    @include onDesctop {
    }
  }

  &__products {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onDesctop {
      grid-column: 1/8;
    }
  }

  &__no-products-text {
    grid-column: span 4;
    text-align: center;
    color: $c-mid-grey;

    @include onDesctop {
      grid-column: 1/-1;
    }
  }
}
